.bg-yellow {
    background-color: #FFBB00;
}

.bg-blue{
    background-color: #42A0FF ;
}

.gray {
    color:#8A8A8A;
}

.blacktext {
    color:#333333;
}

.color-yellow{
    color:#FFBB00;
}

.color-blue{
    color: #42A0FF;
}