/* NO CSS */

@import "colors.css";


*{  
  color: #8A8A8A;
  font-weight: 300;
  box-sizing: border-box;
}

html, body{
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

.container{ max-width:80% !important;}


h1{
  color: black;
  font-weight: 600;
}

h2{
  color: black;
  font-weight: 550;
  font-family: 'Roboto' sans-serif;
}


.btn-yellow {
    background-color: #ffbb00;
    color: #ffffff;
    border-radius: 0.7rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  
  .btn-yellow:hover {
    background-color: #ffc935;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .header-bg {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 100%;
    height: 100vh;
  }

  #showcase h1, #showcase p {
    color: #ffffff;
  }
  
  .nav-item {
    margin-left: 1rem;
    position: relative;
  }
  
  .nav-item a {
    color: #ffffff !important;
    font-weight: 500;
  }
  
  .nav-item a:hover {
    color: #ffbb00 !important;
  }
  
  .nav-item a:hover::after {
    position: absolute;
    content: "";
    background-color: #ffbb00;
    width: 2rem;
    height: 0.2rem;
    left: 0.5rem;
    top: 32px;
  }
  
  .nav-item button {
    margin-left: 2rem;
  }
  
  .nav-item .active::after {
    position: absolute;
    content: "";
    background-color: #ffbb00 !important;
    width: 2rem;
    height: 0.2rem;
    left: 0.5rem;
    top: 32px;
  }

  .column{
    margin: 0;
    padding: 0;
}

.columncontent {
    display: inline;
    color: rgb(255, 187, 0);
    background-color: rgb(255, 187, 0,0.2);
    border-radius: 5px;
    height: 1.5rem;
}
  
  #showcase {
    margin-top: 2rem;
    color: #ffffff;
    text-align: center;
  }

  .googles img, .ezdownloads img {
    height: auto;
    width: 40%;
}

  .icons img {
    width: 20%;
    height: 20%;
  }

 .features {
    background-image: url(/images/bg1.png);
  }

  .text h3 {
    color: black;
    font-size: 1.2em;
    font-weight: 600;
}

.text p{
    font-size: .8em;
}

.appscreens img {
  width:300px;
 }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-container > div {
    width: 100px;
    margin: 5px;
    text-align: center;
    line-height: 7px;
    font-size: 13px;
    }
  
    .counter span {
      font-weight: 700;
    }

  #download {
    background-image: url(/images/Bg2.png);
    overflow:hidden;
    color: white;
}

#download .container {
display:grid;
grid-template-columns: 1fr ;
column-gap: 4rem;
align-items: center;
}

#download .download-content h1{
color: white;
font-weight: 1000;
font-size: 30px;
margin-top:1.5rem;
}

#download .download-content p{
font-family: 'Roboto', sans-serif; 
color: #ffffff;
font-weight: 300;
font-size: 0.7rem;
line-height: 1.6;
}


#download .container .telefoner img {
width: 100%;
height: auto;
margin-top: 1rem;
margin-bottom: -11rem;
}

#buttondownload img {
  height: auto;
  width: 110px;
}

footer {
  background-image: url(/images/Bg2.png);
}

.socialmedia ul {
  list-style: none;
}

.socialmedia ul li i{
  padding: .1em .5em;
  border: none;
  border-radius: 30%;
  color: white;
}

.socialmedia ul li i:hover{
  background-color: #62aaf1;
}
  







/* media quaries */
  
  @media (min-width: 992px) {
    #showcase {
      text-align: left;
    }
  
      #download .container {
      display:grid;
      grid-template-columns: 1fr 1fr;
      }
      
      #showcase h1 {
        font-size: 57px;
        font-weight: bold;
      }
      
      #showcase p {
        font-weight: bold;
        width: 80%;
      }
      
      #showcase .mobiles {
        text-align: right;
      }
      
      #showcase .mobiles img {
        height: auto;
        width: 100%;
      }

      .appscreens img {
        width: 10px;
      }
      
      #about-us {
        padding-top: 3rem;
        text-align: center;
      }

      .statistics{
        background-image: url("/images/bg4.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 20vh;
      }

      .flex-container {
        display: flex;
        flex-direction: row;
      }

      .flex-container > div {
        width: 100px;
        margin: 5px;
        text-align: center;
        line-height: 7px;
        font-size:13px;
        }

        .counter span {
          font-size: 20px;
          font-weight: 700;
        }

        #download .container {
          display:grid;
          grid-template-columns: 1fr 1fr ;
          column-gap: 4rem;
          align-items: center;
          }

        #download .container .telefoner img {
          width: 100%;
          height: auto;
          margin-top: 1rem;
          margin-bottom: -11rem;
          }

}



  @media (min-width: 767px) {

    #download .container .telefoner img {
      width: 100%;
      height: auto;
      margin-top: 1rem;
      margin-bottom: -25rem;
      }

    #about-us {
      text-align: left;
     }
    
      #about-us .left-column {
        flex: 1;
        position: relative;
      }
      
      #about-us .left-column .mobile-bg {
        position: absolute;
        z-index: -1;
        top: 5%;
        left: -25%;
        animation: spin 4s linear infinite;
      }
      
      #about-us .right-column {
        flex: 1;
      }
    
      .features .icons img{
        width: 42px;
        height: 42px;
    }

    .features .container .phone1 img {
      width: 100%;
        height: auto;
    }
    
    .text h3 {
        color: black;
        font-size: 1.2em;
        font-weight: 600;
    }
    
    .text p{
        font-size: .8em;
    }
    
    .appscreens img {
      width:700px;
     }

    .buttondownload img {
      height: auto;
      width: 20px;
  }

  }

  @media (min-width: 1024px) {

     .flex-container {
      display: flex;
      flex-direction: row;
    }

    #buttondownload {
      display: flex;
      justify-content: center;
  } 

  #buttondownload img {
    height: auto;
    
    width: 150px;
}
  
  }
