.nav-item {
    margin-left: 1rem;
    position: relative;

    a {
        color: #ffffff !important;
        font-weight: 500;

        &:hover {
            color: #ffbb00 !important;
        }

        &:hover::after {
            position: absolute;
            content: "";
            background-color: #ffbb00;
            width: 2rem;
            height: 0.2rem;
            left: 0.5rem;
            top: 32px;
        }
    }

    button {
        margin-left: 2rem;
    }

    .active::after {
        position: absolute;
        content: "";
        background-color: #ffbb00 !important;
        width: 2rem;
        height: 0.2rem;
        left: 0.5rem;
        top: 32px;   
    }
}